{
  # HTTP/2 doesn't support the classic Upgrade: websocket mechanism (only
  # RFC8441 Extended CONNECT, which most WebSocket client libraries -- e.g.
  # the ntfy mobile app -- don't implement). Global HTTP/1.1-only avoids
  # WebSocket connections silently failing on any self-hosted app. No real
  # downside on a lightly-trafficked homelab.
  servers {
    protocols h1
  }
}

# this is the DNS stuff we need for every entry

(porkbun_tls) {
  tls {
    dns porkbun {
      api_key {env.PORKBUN_API_KEY}
      api_secret_key {env.PORKBUN_API_SECRET_KEY}
    }
  }
}

########################################################
################### PIHOLE #############################
########################################################

# for pihole
pihole.bjtn.xyz {
  import porkbun_tls
  redir / /admin/
  reverse_proxy pihole:80
}

# for pihole (but shorter cause I am lazy)
pi.bjtn.xyz {
  import porkbun_tls
  redir / /admin/
  reverse_proxy pihole:80
}

########################################################
################### SYNCTHING ##########################
########################################################

syncthing.bjtn.xyz {
  import porkbun_tls
  reverse_proxy syncthing:8384 {
    # we need this because otherwise we'll get a "host check error"
    header_up Host {upstream_hostport}
  }
}

# kindle's syncthing GUI
kindle.bjtn.xyz {
  import porkbun_tls
  reverse_proxy 100.101.80.38:8384 {
    # we need this because otherwise we'll get a "host check error"
    header_up Host {upstream_hostport}
  }
}

# steamdeck's syncthing GUI
steamdeck.bjtn.xyz {
  import porkbun_tls 
  reverse_proxy 100.65.182.44:8384 {
    # we need this because otherwise we'll get a "host check error"
    header_up Host {upstream_hostport}
  }
}

# ayn thor syncthing GUI
thor.bjtn.xyz {
  import porkbun_tls
  reverse_proxy https://100.83.201.58:8384 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

# music tablet's syncthing GUI
music.bjtn.xyz {
  import porkbun_tls 
	reverse_proxy 100.74.227.72:8384 {
    # we need this because otherwise we'll get a "host check error"
		header_up Host {upstream_hostport}
	}
}


########################################################
################### ARR STACK ##########################
########################################################

sonarr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy sonarr:8989
}

radarr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy radarr:7878
}

prowlarr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy prowlarr:9696
}

bazarr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy bazarr:6767
}

jellyfin.bjtn.xyz {
  import porkbun_tls
  reverse_proxy jellyfin:8096
}

seerr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy seerr:5055
}

shelfmark.bjtn.xyz {
  import porkbun_tls
  reverse_proxy shelfmark:8084
}

books.bjtn.xyz {
  import porkbun_tls
  reverse_proxy shelfmark:8084
}


qbit.bjtn.xyz {
  import porkbun_tls
  reverse_proxy gluetun:8181
}

nzb.bjtn.xyz {
  import porkbun_tls
  reverse_proxy gluetun:8080
}

cleanuparr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy cleanuparr:11011
}

youtarr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy youtarr:3011
}

########################################################
################### OTHER ##############################
########################################################

# for portainer
portainer.bjtn.xyz {
  import porkbun_tls
  reverse_proxy https://portainer:9443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

# for immich
immich.bjtn.xyz {
  import porkbun_tls
  reverse_proxy immich:2283
}

photos.bjtn.xyz {
  import porkbun_tls
  reverse_proxy immich:2283
}

beszel.bjtn.xyz {
  import porkbun_tls
  reverse_proxy beszel:8090
}

glances.bjtn.xyz {
  import porkbun_tls
  reverse_proxy glances:61208
}

pause.bjtn.xyz {
  import porkbun_tls
  reverse_proxy downloads-control:8765
}

search.bjtn.xyz {
  import porkbun_tls
  reverse_proxy arr-control:8767
}

castilian.bjtn.xyz {
  import porkbun_tls
  reverse_proxy castilian-control:8768
}

# supernote-control runs directly on the host, not containerized -- it
# needs real Docker daemon access (docker exec into nextcloud) that would
# otherwise mean mounting the docker socket into a new container just for
# this one button. host.docker.internal is already wired up for Caddy
# (see caddy/docker-compose.yml's extra_hosts).
note-to-pdf.bjtn.xyz {
  import porkbun_tls
  reverse_proxy host.docker.internal:8769
}

# backup-control also runs directly on the host, not containerized -- see
# scripts/backup-control.py's header for why.
backup.bjtn.xyz {
  import porkbun_tls
  reverse_proxy host.docker.internal:8770
}

dozzle.bjtn.xyz {
  import porkbun_tls
  reverse_proxy dozzle:8080
}

logs.bjtn.xyz {
  import porkbun_tls
  reverse_proxy dozzle:8080
}

home.bjtn.xyz {
  import porkbun_tls
  reverse_proxy homarr:7575
}

homarr.bjtn.xyz {
  import porkbun_tls
  reverse_proxy homarr:7575
}

upsnap.bjtn.xyz {
  import porkbun_tls
  reverse_proxy 192.168.1.194:8091
}

wol.bjtn.xyz {
  import porkbun_tls
  reverse_proxy 192.168.1.194:8091
}

########################################################
################### NEW SERVICES ########################
########################################################

yourls.bjtn.xyz {
  import porkbun_tls
  redir / /admin/
  reverse_proxy yourls:8080
}

urls.bjtn.xyz {
  import porkbun_tls
  redir / /admin/
  reverse_proxy yourls:8080
}

romm.bjtn.xyz {
  import porkbun_tls
  reverse_proxy romm:8080
}

roms.bjtn.xyz {
  import porkbun_tls
  reverse_proxy romm:8080
}

scrutiny.bjtn.xyz {
  import porkbun_tls
  reverse_proxy scrutiny-web:8080
}

kuma.bjtn.xyz {
  import porkbun_tls
  reverse_proxy kuma:3001
}

ntfy.bjtn.xyz {
  import porkbun_tls
  reverse_proxy ntfy:80
}

arcane.bjtn.xyz {
  import porkbun_tls
  reverse_proxy arcane:3552
}

########################################################
################### NEXTCLOUD ###########################
########################################################

# cloud/nc/nextcloud all serve the same instance -- NEXTCLOUD_TRUSTED_DOMAINS
# in nextcloud/.env must list all three or Nextcloud rejects the request.
cloud.bjtn.xyz, nc.bjtn.xyz, nextcloud.bjtn.xyz {
  import porkbun_tls
  reverse_proxy nextcloud:80 {
    header_up X-Forwarded-Proto https
  }
}

