JDOWNLOADER_DOWNLOADS_PATH=/path/to/downloads
JDOWNLOADER_MEDIA_PATH=/path/to/media
JDOWNLOADER_OBS_PATH=/path/to/obs
JDOWNLOADER_EMU_PATH=/path/to/emu
JDOWNLOADER_GAMES_PATH=/path/to/games
JDOWNLOADER_OTHER_PATH=/path/to/other
JDOWNLOADER_BEIGE_PATH=/path/to/beige
