JDOWNLOADER_DOWNLOADS_PATH=/path/to/downloads
JDOWNLOADER_TV_PATH=/path/to/tv
JDOWNLOADER_MOVIES_PATH=/path/to/movies
JDOWNLOADER_BOOKS_PATH=/path/to/books
JDOWNLOADER_YOUTUBE_PATH=/path/to/youtube
JDOWNLOADER_MUSIC_SHEETS_PATH=/path/to/music-sheets
JDOWNLOADER_OBS_PATH=/path/to/obs
JDOWNLOADER_EMU_PATH=/path/to/emu
JDOWNLOADER_GAMES_PATH=/path/to/games
JDOWNLOADER_OTHER_PATH=/path/to/other
MYJDOWNLOADER_EMAIL=you@example.com
MYJDOWNLOADER_PASSWORD=changeme
MYJDOWNLOADER_DEVICE_NAME=home-server
