# generate with: openssl rand -hex 32
SECRET_KEY=
SITE_URL=https://wger.bjtn.xyz
CSRF_TRUSTED_ORIGINS=https://wger.bjtn.xyz
TIME_ZONE=America/New_York
TZ=America/New_York

DJANGO_DEBUG=False
DJANGO_PERFORM_MIGRATIONS=True
WGER_USE_GUNICORN=True

USE_CELERY=True
CELERY_BROKER=redis://wger-cache:6379/0
CELERY_BACKEND=redis://wger-cache:6379/1
DJANGO_CACHE_BACKEND=django_redis.cache.RedisCache
DJANGO_CACHE_LOCATION=redis://wger-cache:6379/2
DJANGO_CACHE_CLIENT_CLASS=django_redis.client.DefaultClient

POSTGRES_USER=wger
POSTGRES_PASSWORD=
POSTGRES_DB=wger

DJANGO_DB_ENGINE=django.db.backends.postgresql
DJANGO_DB_DATABASE=wger
DJANGO_DB_USER=wger
DJANGO_DB_PASSWORD=
DJANGO_DB_HOST=wger-db
DJANGO_DB_PORT=5432
