media=/mnt/media/
tv=/mnt/media/tv/
movies=/mnt/media/movies/
books=/mnt/media/books/
downloads=/mnt/media/downloads/
obs=/mnt/obs/obs/
vlc=/mnt/obs/vlc/
emu=/mnt/emu/
games=/mnt/games/

vpn_service_provider=protonvpn
wireguard_private_key=REDACTED_WIREGUARD_KEY=
wireguard_addresses=

