media=/mnt/vault/media/
tv=/mnt/vault/media/tv/
movies=/mnt/vault/media/movies/
books=/mnt/vault/media/books/
downloads=/mnt/vault/media/downloads/
obs=/mnt/vault/obs/obs/
vlc=/mnt/vault/obs/vlc/
emu=/mnt/vault/emu/
games=/mnt/games/

vpn_service_provider=protonvpn
wireguard_private_key=
wireguard_addresses=

sonarr_api_key=
radarr_api_key=
movies_archive=/mnt/vault/media/movies/

# romm
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
ROMM_DB_PASSWORD=
ROMM_DB_ROOT_PASSWORD=
ROMM_AUTH_SECRET_KEY=
ROMM_LIBRARY_PATH=/mnt/games
SCREENSCRAPER_USER=
SCREENSCRAPER_PASSWORD=
RETROACHIEVEMENTS_API_KEY=
STEAMGRIDDB_API_KEY=
